@page
@model SimWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}
<center>
<h1>Welcome</h1>
<img src="~/images/ork.jpg" alt="ork" style="padding: 10px;"/>
<p>Welcome to the SimWeb application!</p>
</center>
